.cards {
  margin: 0 auto;
  font-weight: 900;
  font-size: 24px;
}

.cards__item {
  list-style-type: none;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin-top: 51px;
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  .cards__item {
    margin: 51px 5px 0;
  }
}

@media screen and (max-width: 618px) {
  .cards__item {
    margin: 36px 0 0;
  }
}
