.footer {
  display: flex;
  margin: 0 auto;
}

.footer__copyright {
  color: #545454;
  min-width: 282px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 21.78px;
  margin-top: 67px;
}

@media screen and (max-width: 880px) {
  .footer {
    max-width: 580px;
  }
}

@media screen and (max-width: 618px) {
  .footer {
    max-width: 282px;
  }

  .footer__copyright {
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
