.header {
  margin: 0 auto;
  border-bottom: 1px #545454 solid;
  min-width: 320px;
  max-width: 880px;
}

.header__logo {
  margin: 45px auto 41px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    padding-left: 27px;
  }
}
